<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guilla.lyricswriter">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- ${packageName} is substituted for the package name declared above.  -->
    <permission android:protectionLevel="signature" android:name="${packageName}.permission.C2D_MESSAGE" />
    <uses-permission android:name="${packageName}.permission.C2D_MESSAGE" />

    <!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
    <!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Application"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        >

        <activity android:name=".LauncherApplication"
         android:screenOrientation="portrait"
         android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" />

        <activity
            android:name=".activity.ActivityTutorial.MainTutorialLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs "com.example.myapp://" -->
                <data android:scheme="com.guilla.lyricswriter://" />

            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name=".activity.ProfilActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>

        <activity android:name=".activity.ProfilProActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>

        <activity android:name=".activity.TipsUserProfilActivity">
        </activity>

        <activity android:name=".activity.MapActivity">
        </activity>

        <activity android:name=".activity.LocationUserActivity">
        </activity>

        <activity android:name=".activity.CommentaryActivity"
            >
        </activity>

        <activity android:name=".activity.TipsActivity"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>

        <activity android:name=".activity.HashTagActivity"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>

        <activity android:name=".activity.DetailGroupActivity">
        </activity>

        <activity android:name=".activity.DetailPostActivity">
        </activity>


        <activity android:name=".activity.WriterActivity">
        </activity>


        <activity android:name=".activity.InviteCollabActivity">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


        <service
            android:name=".ParsePushNotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name=".ParsePushNotification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:24583466934" />


        <meta-data android:name="io.fabric.ApiKey" android:value="7BYaTXI9e8Newy3xIuICbGY2s"/>
    </application>

</manifest>